

*{
	
	margin: 0;
	padding: 0;
}

body{
	
	text-align: center;
	min-width: 980px;
}

#container{
	
	width: 980px;
	margin: 0 auto;
	text-align: left;
	
	overflow: auto;
}

#tophead{
	
	padding-top:10px;
	
	width: 980px;
	margin: 0 auto;
	height: 120px;
}


#leftcontent{
	
	float: left;
	width: 194px;
	border: 3px outset #a8cde4; 
	background: #a8cde4;
	
}


#maincontent{
	
	float: right;
	width: 770px;
	border: 5px outset #a8cde4; 
	
}





#maincontent td a{
	text-decoration: none;
	color: #154ba0;
}

#maincontent td a:hover{
	color: red;
}
