
*{
	
	margin: 0;
	padding: 0;
}


ul{
	list-style: none;
	text-align: center;
	
}


li a{
	text-decoration: none;
	width: 160px;
	font-size: 16px;
	color: #154ba0;
	display: block;
	border: medium outset #a8cde4;
	margin: 0 auto;
}


li a:hover{
	color: red;
	font-weight: 800;
}

#lefttree{
	
	width: 190px;
	text-align: center;
	
}


#lefttree div a{
	font-size: 12px;
	border: none;
	text-decoration: none;
	color: #154ba0;
}

#lefttree div{
	
	width:150px;
	text-align: center;
	background: #EEF5FC;
	margin: 0 auto;
}


#lefttree div a:hover{
	color: red;
}


